* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

input,
select,
textarea,
fieldset {
    border: 0;
}
img {
    vertical-align: top;
    border: 0;
}

body {
    font-family: 'SUITE Variable', sans-serif;
    background-color: rgb(223,223,223);
}

:root{

    --main--color--origin : #137e8e;
    --main--color1 : #1DBED6;
    --main--color2 : #19A5BA;
    --main--color3 : #1693A6;
    --main--color4 : #0C4D57;


}