.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .signature-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        h3{
            font-size: 50px;
            margin: 50px 0 20px 0;
        }
        span{
            font-size: 30px;
        }
    }

    .signature-slider{
        width: 100%;
        max-width: 1320px;
        .swiper-slide{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 400px) {
    .inner{
        .signature-title{
            margin-bottom: 30px;
            h3{
                padding: 0;
                margin-top: 30px;
                font-size: 30px;
                height: 40px;
            }
            span{
                font-size: 15px;
            }
        }
    }

}

@media (min-width: 401px) and (max-width: 600px) {

}

@media (min-width: 601px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) {

}



